/* VARIABLES */
:root{
    --main-color: #835699;
}
/* FIN VARIABLES */

/* CLASES GENERALES */
*{
    box-sizing: border-box;
    font-family: 'Raleway';
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    position: relative;
}

a{
    text-decoration: none;
    color: #1D1D1D;
}

.wrapper{
    padding: 5px 142px;
}



.scrollbar-invisible{
    width : 100vw;
    height : 100vh;
    overflow : hidden;
}

.arrow{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 

    align-self: center;
    cursor: pointer;
}

.arrow.disabled{
    color:grey;
    cursor: default;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
    z-index: 200;
}

.loading img{
    animation-name: late;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    width: 100%;
    height: 80%;
}



/* FIN CLASES GENERALES */

/* FUENTES */

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-Regular.ttf');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-Medium.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}

/* FIN FUENTES */

/* MEDIA QUERYS*/


@media (max-width: 2000px ) {
    main .lightbox .container-lightbox .container-img-principal{
        height: 70%;
    }

    .wrapper{
        padding: 5px 100px;
    }
}

@media (max-width: 1500px ) {
    main .lightbox .container-lightbox .container-img-principal{
        height: 65%;

    }

    .wrapper{
        padding: 5px 80px;
    }

    .loading img{
        height: 80%;
    }
}

@media (max-width: 1000px ) {
    main .lightbox .container-lightbox .container-img-principal{
        height: 60%;
        padding: 5px 50px;
    }

    .wrapper{
        padding: 5px 20px;
    }
    


    main .container-products .card .desc {
        font-size: 2.3vw;
    }

    main .images-slider .arrow span{
        display: none;
    }

    main .lightbox .container-lightbox .container-imgs-secondary .little-img-lihgtbox.estuche{
        width: 20%;
    }

    .loading img{
        width: 100%;
        height: 70%;
    }

}

@media (max-width: 576px ) {
    main .lightbox .container-lightbox .container-img-principal{
        height: 50%;
        padding: 5px 50px;
    }

    .lightbox .arrow{
        display:none;
    }

    .wrapper{
        padding: 5px 20px;
    }

    main .container-products .card{
        width: 100%;
    }

    main .container-products .card .desc {
        font-size: 6.8vw;
    }
    
    main .lightbox .container-lightbox .container-imgs-secondary {
        justify-content: flex-start;
        overflow: scroll;
    }

    .loading img{
        height: 40%;
    }
}

@media (max-width: 400px ) {
    .loading img{
        height: 30%;
    }
}

/* 
Breakpoint	    Dimensions
X-Small      	    <576px
Small               ≥576px
Medium	            ≥768px
Large               ≥992px
Extra large	        ≥1200px
*/

/* FIN MEDIA QUERYS*/

/* KEYFRAMES*/

@keyframes late{
    0%,100%{
        transform: scale(1)
    }
    50%{
        transform: scale(1.1)
    }
}

/*FIN KEYFRAMES*/