/* VARIABLES */
:root{
    --main-color: #835699;
}
/* FIN VARIABLES */

/* CLASES GENERALES */
*{
    box-sizing: border-box;
    font-family: 'Raleway';
}

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}

a{
    text-decoration: none;
    color: #1D1D1D;
}

.wrapper{
    padding: 5px 142px;
}

.brand{
    width: 129px;
}

.scrollbarInvisible{
    width : 100vw;
    height : 100vh;
    overflow : hidden;
}

.arrow{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 

    align-self: center;
    cursor: pointer;
}

.arrow.disabled{
    color:grey;
    cursor: default;
}

.arrow span{
    font-size: 50px;
}


/* FIN CLASES GENERALES */

/* FUENTES */

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-Regular.ttf');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-Medium.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}

/* FIN FUENTES */




/* MAIN */
main{
    width: 100%;
}

main .images-slider{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

main .images-slider img{
    height: 100%;
}

main .images-slider .arrow{
    align-self: center;
    cursor: pointer;
}

main .images-slider .arrow.disabled{
    color:grey;
    cursor: default;
}

main .images-slider .arrow span{
    font-size: 50px;
}

main .container-products{
    position: relative;
    background-image: url('../imgs/JPG/fondo_leopardo.jpg');
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .container-products .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    background-color: gray;
    border-radius: 10%;
    margin: 10px 10px;
}

main .container-products .card .image{
    width: 100%;
}

main .container-products .card .desc{
    text-align: center;
    font-size: 1.8vw;
    padding: 0 8px 5px;
}

main .container-products .card .image img{
    width: 100%;
    border-radius: 10%;
}

main .lightbox{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0, 0.9);
    overflow-x:hidden;
    overflow-y:hidden;
}

main .lightbox .container-lightbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

main .lightbox .container-lightbox .container-img-principal{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .lightbox .container-lightbox .container-img-principal .img-principal{
    height: 800px;
}

main .lightbox .container-lightbox .container-img-principal .img-principal .principal-img-lihgtbox{
    height: 100%;
}

main .lightbox .hide{
    color: white;
    align-self: flex-end;
    cursor:pointer;
    margin: 20px;
}

main .lightbox .container-lightbox .container-img-principal .arrow:not(.disabled){
    color: white;
}

main .lightbox .container-lightbox .container-imgs-secondary{
    display: flex;
    justify-content: center;
    align-items: center;
}

main .lightbox .container-lightbox .container-imgs-secondary .little-img-lihgtbox{
    margin: 20px;
    object-fit: cover;
    height: 200px;
    cursor: pointer;
}
/* FIN MAIN */



/* MEDIA QUERYS*/


/* 
Breakpoint	    Dimensions
X-Small      	    <576px
Small               ≥576px
Medium	            ≥768px
Large               ≥992px
Extra large	        ≥1200px
*/

/* FIN MEDIA QUERYS*/