main{

}

main .send-data{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main .send-data #contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .send-data #contact-form .form-group{
    margin: 20px;
    width: 100%;
}

main .send-data #contact-form .button span{
    border: 1px solid black;
    cursor: pointer;
}

main .send-data #contact-form > .form-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main .send-data #contact-form > .form-group:not(.active){
    display: none;
}

main .send-data #contact-form > .button.disabled{
    display: none;
}

main input:disabled,
main textarea:disabled{
    cursor: default;
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
    color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
    border-color: rgba(118, 118, 118, 0.3);
}