/* HEADER */

header{
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

header .brand{
    width: 129px;
    display: flex;
}

header .hambur .line{
    width: 80px;
    background-color: black;
    border-radius: 10px;
    padding: 2px;
    margin: 25px;
}

header .hambur #first-line{
    transform: initial;
    transform-origin: 0% 0%;
    transition: all 0.3s linear;
}

header .hambur #second-line{
    opacity: 1;
    transition: all 0.3s linear;
}

header .hambur #third-line{
    transform: initial;
    transform-origin: 0% 0%;
    transition: all 0.3s linear;
}

header .hambur.open #first-line{
    transform: rotateZ(36deg) scaleX(1.27);
}

header .hambur.open #second-line{
    opacity: 0;
}

header .hambur.open #third-line{
    transform: rotateZ(-36deg) scaleX(1.27);
}


header .brand img{
    width: 100%;
    align-items: center;
}

header .brand img:hover{
    cursor:pointer
}

header .links{
    display: flex;
    flex-direction: column;
}

header .links .link{
    padding: 10px;
    position: relative;
    margin: 0 10px;
}
header .links .link a{
    padding: 8px 0;
    /* margin: 0 10px; */
    font-size: 15px;
    letter-spacing: .10em;
}

header .links .list-dropdown{
    display: none;
    position: absolute;
    background-color: #1d1d1d;
    padding: 15px;
    white-space: nowrap; /*IMPORTANTEEEEE!!!*/
    margin-top: 10px;
}

header .links .list-dropdown a{
    color: white;
} 

header .links .link.dropdown:hover .list-dropdown {
    display: flex;
    flex-direction: column;
}

header .links .hambur{
    display: none;
    cursor: pointer;
}

header .container-links{
    display: flex;
    flex-direction: row;
}

@media (max-width: 1000px ) {
    header .links .hambur{
        display: block;
    }

    header .container-links{
        display: none;
    }

    header .links .container-links .link{
        margin: 0;
    }

}

/* FIN HEADER */