/* VARIABLES */
:root{
    --main-color: #835699;
}
/* FIN VARIABLES */

/* CLASES GENERALES */
*{
    box-sizing: border-box;
    font-family: 'Raleway';
}

body{
    margin: 0;
}

a{
    text-decoration: none;
    color: #1D1D1D;
}

.wrapper{
    padding: 5px 142px;
}

.brand{
    width: 129px;
}

.brand img{
    width: 100%;
}

/* FIN CLASES GENERALES */

/* FUENTES */

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-Regular.ttf');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-Medium.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}

/* FIN FUENTES */


/* HEADER */

header{
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .brand{
    width: 129px;
    display: flex;
}

header .brand img{
    width: 100%;
    align-items: center;
}

header .links{
    display: flex;
}

header .links .link{
    padding: 10px;
    position: relative;
    margin: 0 10px;
}
header .links .link a{
    padding: 8px 0;
    /* margin: 0 10px; */
    font-size: 15px;
    letter-spacing: .10em;
}

header .links .list-dropdown{
    display: none;
    position: absolute;
    background-color: #1d1d1d;
    padding: 15px;
    white-space: nowrap; /*IMPORTANTEEEEE!!!*/
    margin-top: 10px;
}

header .links .list-dropdown a{
    color: white;
} 

header .links .link.dropdown:hover .list-dropdown {
    display: flex;
    flex-direction: column;
}

/* FIN HEADER */

/* MAIN */
main{
    width: 100%;
}

main .images-slider{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

main .images-slider img{
    height: 100%;
}

main .images-slider .arrow{
    align-self: center;
    cursor: pointer;
}

main .images-slider .arrow.disabled{
    color:grey;
    cursor: default;
}

main .images-slider .arrow span{
    font-size: 50px;
}

main .container-products{
    background-image: url('../imgs/JPG/fondo_leopardo.jpg');
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .container-products .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    background-color: gray;
    border-radius: 10%;
    margin: 10px 10px;
}

main .container-products .card .image{
    width: 100%;
}

main .container-products .card .desc{
    text-align: center;
    font-size: 2vw;
}

main .container-products .card .image img{
    width: 100%;
    border-radius: 10%;
}

/* FIN MAIN */



/* FOOTER */
footer{
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 200px;
}


footer .socials a{
    margin: auto 5px;
}

footer .credits{
    text-align: center;
}


/* FIN FOOTER */


/* MEDIA QUERYS*/


/* 
Breakpoint	    Dimensions
X-Small      	    <576px
Small               ≥576px
Medium	            ≥768px
Large               ≥992px
Extra large	        ≥1200px
*/

/* FIN MEDIA QUERYS*/